# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# Bytecode
*.pyo
*.pyd